<div class="container">
  <h1>Vista de productos</h1>
  <% if (data.length !==0) { %>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item)=> { %>
          <tr class="table-dark">
            <td class="table-dark">
              <%= item.title %>
            </td>
            <td class="table-dark">
              <%= item.price %>
            </td>
            <td class="table-dark">
              <img style="width: 50px;" src="<%= item.thumbnail %>" />
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <p class="alert alert-danger">No hay productos</p>
      <% } %>
</div>