<h1>Ingrese producto</h1>
<form action="/api/productos/guardar" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input type="number" class="form-control" id="price" name="price">
  </div>
  <div class="mb-3">
    <label class="form-check-label" for="thumbnail">URL</label>
    <input type="url" class="form-control" id="thumbnail" name="thumbnail">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>