<h1>Vista de productos</h1>
{{#if data}}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr class="table-dark">
      <td class="table-dark">{{title}}</td>
      <td class="table-dark">{{price}}</td>
      <td class="table-dark"><img style="width: 50px;" src="{{thumbnail}}" alt=""></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p class="alert alert-warning">No hay productos</p>
{{/if}}